@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin : 0;
    padding: 0;
}

body{

background-color: black;
color: #F6F6F6;
height: 100vh;
box-sizing: border-box;
}


.featured-title{
    color: #9AF0A7;  
}

.presentation{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:10%;
    
}

.presentation__content{
    width:650px;
}

.presentation__content__title{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.presentation__content__text{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentation__content__links{
    display:flex;
    justify-content: space-between;
}